@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Playfair';
    font-style: normal;
    font-display: swap;
    src: url(../src/assets/fonts/Playfair.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Playfair Italic';
    font-style: italic;
    font-display: swap;
    src: url(../src/assets/fonts/PlayfairItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-display: swap;
    src: url(../src/assets/fonts/MerriweatherRegular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-display: swap;
    src: url(../src/assets/fonts/RobotoSlab.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-display: swap;
    src: url(../src/assets/fonts/LobsterRegular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Reem Kufi';
    font-style: normal;
    font-display: swap;
    src: url(../src/assets/fonts/ReemKufi.ttf) format('truetype');
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body:has-checkbox:checked {
  overflow: hidden;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
